<!DOCTYPE HTML>
<html>
<head>
<title>ThisAdWorks</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>

<div class="up">
    <a href="/" title="Автозабота - забота о Вашем автомобиле!"><div class="logo"></div></a>
    <div class="auto"></div>
    <div class="bucket">
        <div class="head">Ваша корзина</div>
        <a href="#" title="Оформить ваш заказ">
            <div class="info">Товаров в корзине: <span>0</span><br>На сумму: <span>0.00 руб.</span></div>
            <div class="but">Оформить заказ</div>
        </a>
    </div>
</div>

<div class="menu">
    <div class="menu_block">
        <a href="#" title="О магазине Автозабота"><div class="but active">О магазине</div></a>
        <!--<a href="#" title="Каталог дисков для автомобилей"><div class="but">Каталог дисков</div></a>-->
        <!--<a href="#" title="Подбор дисков для автомобилей по характеристикам"><div class="but">Подбор дисков</div></a>-->
        <!--<a href="#" title="Каталог шин для автомобилей"><div class="but">Каталог шин</div></a>-->
        <!--<a href="#" title="Подбор шин для автомобилей по характеристикам"><div class="but">Подбор шин</div></a>-->
        <!--<a href="#" title="Подбор дисков и шип под автомобиль определенной марки и модели"><div class="but">Подбор под авто</div></a>-->
        <a href="#" title="Наш шиномонтаж и запись на прием"><div class="but">Наш шиномонтаж</div></a>
        <a href="#" title="Доставка дисков и шин по городу и области"><div class="but">Доставка заказа</div></a>
        <a href="#" title="Заправка и ремонт автокондиционеров"><div class="but">Заправка и ремонт автокондиционеров</div></a>
        <a href="#" title="Оценка б/у автомобиля с выездом"><div class="but">Оценка б/у автомобиля</div></a>
        <a href="#" title="Сезонное хранение шин"><div class="but">Хранение шин</div></a>
        <a href="#" title="Контактная информация"><div class="but">Контакты</div></a>
    </div>
</div>

<div class="select">
    <div class="sel_tire">
        <div class="head">Подбор шин</div>
        <div class="sel_selects">
            <form action="#" method="post">
                <select name="name" class="s1"><option>Бренд</option></select><br>
                <select name="name" class="s2"><option>Ширина</option></select><br>
                <select name="name" class="s3"><option>Профиль</option></select><br>
                <select name="name" class="s4"><option>Диаметр</option></select><br>
                <select name="name" class="s5"><option>Сезон</option></select>
            </form>
        </div>
        <a href="#"><div class="but">Подобрать</div></a>
    </div>
    <div class="sel_wheel">
        <div class="head">Подбор дисков</div>
        <div class="sel_selects">
            <form action="#" method="post">
                <select name="name" class="s1"><option>Бренд</option></select><br>
                <select name="name" class="s2"><option>Ширина обода</option></select><br>
                <select name="name" class="s3"><option>Диаметр</option></select><br>
                <select name="name" class="s4"><option>PCD</option></select><br>
                <select name="name" class="s5"><option>Вылет (ET)</option></select><br>
                <select name="name" class="s6"><option>DIA</option></select>
            </form>
        </div>
        <a href="#"><div class="but">Подобрать</div></a>
    </div>
    <div class="sel_car">
        <div class="head">Подбор по авто</div>
        <div class="sel_selects">
            <form action="#" method="post">
                <select name="name" class="s1"><option>Марка</option></select><br>
                <select name="name" class="s2"><option>Модель</option></select><br>
                <select name="name" class="s3"><option>Год выпуска</option></select><br>
                <select name="name" class="s4"><option>Двигатель</option></select>
            </form>
        </div>
        <a href="#"><div class="but">Подобрать</div></a>
    </div>
</div>

<div class="center_block">
    <div class="left">
        <div class="left_menu">
            <a href="#" title="О магазине Автозабота"><div class="but">О магазине</div></a>
            <a href="#" title="Каталог дисков для автомобилей"><div class="but active">Каталог дисков</div></a>
            <a href="#" title="Подбор дисков для автомобилей по характеристикам"><div class="but2">Подбор дисков</div></a>
            <a href="#" title="Каталог шин для автомобилей"><div class="but">Каталог шин</div></a>
            <a href="#" title="Подбор шин для автомобилей по характеристикам"><div class="but2">Подбор шин</div></a>
            <a href="#" title="Подбор дисков и шип под автомобиль определенной марки и модели"><div class="but">Подбор под авто</div></a>
            <a href="#" title="Наш шиномонтаж и запись на прием"><div class="but">Наш шиномонтаж</div></a>
            <a href="#" title="Заявка на шиномонтаж онлайн"><div class="but2 active">Запись на прием</div></a>
            <a href="#" title="Доставка дисков и шин по городу и области"><div class="but">Доставка заказа</div></a>
            <a href="#" title="Заправка и ремонт автокондиционеров"><div class="but">Заправка и ремонт автокондиционеров</div></a>
            <a href="#" title="Оценка б/у автомобиля с выездом"><div class="but">Оценка б/у автомобиля</div></a>
            <a href="#" title="Сезонное хранение шин"><div class="but">Хранение шин</div></a>
            <a href="#" title="Спецпредложения и акции"><div class="but">Спецпредложения и акции</div></a>
            <a href="#" title="Контактная информация"><div class="but">Контакты</div></a>
        </div>
        <div class="banners">
            <div class="image"><a href="#" alt="Как с нами связаться?"><img src="images/banner_phone.png" border="0" title="Как с нами связаться?"></a></div>
        </div>
    </div>
    <div class="right">
        <div class="head"><h1>Заголовок страницы</h1></div>
        Больше чем интернет магазин.<p>
        Наш магазин: <a href="">Он-лайн подбор шин</a> и <a href="">дисков</a> от лучших мировых производителей и поиск под заказ. Лучшие цены и <a href="">специальные акции</a>, а также возможность сразу со скидкой установить шины и диски на автомобиль в наших сервисах по выдаче и обслуживанию заказов.   Профессиональный и качественный шиномонтаж выполненный на итальянском оборудовании высокого класса специалистами нашего сервиса залог уверенности и удовольствия за рулем .<p>
        Пока вашим автомобилем занимаются, вы можете выпить чашечку вареного кофе и поработать в интернете, везде доступен бесплатный WIFI<p>
        Большой ассортимент шин в наличии, а также опыт продаж установки  и эксплуатации позволит найти желаемый вариант и не разочароваться в нем со временем, помните хорошие шины эксплуатируются 3 сезона и больше.<p>
        <div class="banners">
            <div class="image"><a href="#" alt="Оценка б/у автомобиля с выездом" class="no_border"><img src="images/banner_bucar.png" border="0" title="Оценка б/у автомобиля с выездом"></a></div>
            <div class="image"><a href="#" alt="Сезонное хранение шин" class="no_border"><img src="images/banner_hranenie.png" border="0" title="Сезонное хранение шин"></a></div>
            <div class="image"><a href="#" alt="Заправка и ремонт автокондиционеров" class="no_border"><img src="images/banner_air.png" border="0" title="Заправка и ремонт автокондиционеров"></a></div>
        </div>
        <div class="head second"><h1>Заголовок на странице</h1></div>
        <fieldset>
            <legend>Он-лайн заявка на шиномонтаж:</legend>
            <table cellspacing="4" cellpadding="0" border="0">
                <tr>
                    <td>Имя:</td>
                    <td><input type="text" name="" class="input1"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Фамилия:</td>
                    <td><input type="text" name="" class="input1"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Телефон:</td>
                    <td><input type="text" name="" class="input1"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Марка автомобиля:</td>
                    <td><input type="text" name="" class="input1"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Дата:</td>
                    <td><input type="text" name="" class="input1"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Время:</td>
                    <td>
                        <select class="select1">
                            <option name="#">01</option>
                            <option name="#">02</option>
                            <option name="#">03</option>
                            <option name="#">04</option>
                            <option name="#">05</option>
                            <option name="#">06</option>
                            <option name="#">07</option>
                            <option name="#">08</option>
                            <option name="#">09</option>
                            <option name="#">10</option>
                            <option name="#">11</option>
                            <option name="#">12</option>
                            <option name="#">13</option>
                            <option name="#">14</option>
                            <option name="#">15</option>
                            <option name="#">16</option>
                            <option name="#">17</option>
                            <option name="#">18</option>
                            <option name="#">19</option>
                            <option name="#">21</option>
                            <option name="#">22</option>
                            <option name="#">23</option>
                        </select>:
                        <select class="select1">
                            <option name="#">00</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="submit" name="submit" class="submit1" value="Отправить заявку">
                    </td>
                </tr>
            </table>
        </fieldset>

        <div class="head second"><h1>Заголовок на странице</h1></div>

        <div class="object">
            <div class="ob_head"><a href="#" title="Название обьекта">Название обьекта</a></div>
            <div class="ob_foto"><a href="#" title="Название обьекта"><img src="images/preview.png" border="0"></a></div>
            <div class="ob_info">
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
            </div>
            <div class="ob_button"><input type="submit" name="submit" class="submit2" value="Добавить в корзину"></div>
        </div>
        <div class="object">
            <div class="ob_head"><a href="#" title="Название обьекта">Название обьекта</a></div>
            <div class="ob_foto"><a href="#" title="Название обьекта"><img src="images/preview.png" border="0"></a></div>
            <div class="ob_info">
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Когда данные будут ну очень длинными</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Когда данные будут длинными</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
            </div>
            <div class="ob_button"><input type="submit" name="submit" class="submit2" value="Добавить в корзину"></div>
        </div>
        <div class="object">
            <div class="ob_head"><a href="#" title="Если название обьекта будет очень длинным и показываться в две строчки">Если название обьекта будет очень длинным и показываться в две строчки</a></div>
            <div class="ob_foto"><a href="#" title="Название обьекта"><img src="images/preview.png" border="0"></a></div>
            <div class="ob_info">
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
            </div>
            <div class="ob_button"><input type="submit" name="submit" class="submit2" value="Добавить в корзину"></div>
        </div>
        <div class="object">
            <div class="ob_head"><a href="#" title="Название обьекта">Название обьекта</a></div>
            <div class="ob_foto"><a href="#" title="Название обьекта"><img src="images/preview.png" border="0"></a></div>
            <div class="ob_info">
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
                <div class="ob_text">Характеристика: <span>Данные</span></div>
                <div class="ob_text">Свойство: <span>Данные</span></div>
            </div>
            <div class="ob_button"><input type="submit" name="submit" class="submit2" value="Добавить в корзину"></div>
        </div>

        <div class="head second"><h1>Заголовок на странице</h1></div>

        <table cellspacing="0" cellpadding="0" border="0" class="table1">
            <tr class="tr_head">
                <td>Название</td>
                <td class="td_c">Название</td>
                <td class="td_c">Название</td>
                <td class="td_c">Название</td>
                <td class="td_c">Название</td>
                <td class="td_c">Цена</td>
                <td class="td_but"></td>
            </tr>
            <tr class="tr1">
                <td><b>Данные</b></td>
                <td class="td_c">Данные</td>
                <td class="td_c">Данные</td>
                <td class="td_c">Данные</td>
                <td class="td_c">Данные</td>
                <td class="td1">Данные</td>
                <td class="td_but"><input type="submit" name="submit" value="В корзину" class="submit3"></td>
            </tr>
            <tr class="tr1">
                <td><b>Данные</b></td>
                <td class="td_c">Данные</td>
                <td class="td_c">Данные</td>
                <td class="td_c">Данные</td>
                <td class="td_c">Данные</td>
                <td class="td1">Данные</td>
                <td class="td_but"><input type="submit" name="submit" value="В корзину" class="submit3"></td>
            </tr>
            <tr class="tr1">
                <td><b>Данные</b></td>
                <td class="td_c">Данные</td>
                <td class="td_c">Данные</td>
                <td class="td_c">Данные</td>
                <td class="td_c">Данные</td>
                <td class="td1">Данные</td>
                <td class="td_but"><input type="submit" name="submit" value="В корзину" class="submit3"></td>
            </tr>
        </table><p>

        <div class="numbers">
            <a href="#">« Предыдущая</a>
            <a href="#">22</a>
            <a href="#">23</a>
            <a href="#">24</a>
            ...
            <a href="#">56</a>
            <a href="#">57</a>
            <a href="#">58</a>
            ...
            <a href="#">101</a>
            <a href="#">102</a>
            <a href="#">103</a>
            <a href="#">Следующая »</a>
        </div>
    </div>
</div>

<div class="special">
    <a href="#" alt="У нас действуют специальные предложения и скидки для Вас!"><img src="images/special.png" border="0" title="У нас действуют специальные предложения и скидки для Вас!"></a>
</div>

<div class="brends">
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/aurora.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/bridgestone.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/continental.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/cooper.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/cordiant.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/gislaved.png" border="0" alt="brendname"></a></div>

    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/goodyear.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/hankook.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/kama.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/kamaeuro.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/kirovski.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/kleber.png" border="0" alt="brendname"></a></div>

    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/marshal.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/matador.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/michelin.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/nokian.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/pirelli.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/voltair.png" border="0" alt="brendname"></a></div>

    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/yaroslavskiy.png" border="0" alt="brendname"></a></div>
    <div class="img"><a href="#" title="Производитель: brendname"><img src="images/brands/yokohama.png" border="0" alt="brendname"></a></div>
    <div class="img2"><a href="#" title="Производитель: brendname"><span>brendname 1</span></a></div> <!--Если нет картинки-->
    <div class="img2"><a href="#" title="Производитель: brendname"><span>brendname 2</span></a></div> <!--Если нет картинки-->
    <div class="img"><img src="images/brands/no.png" border="0" alt="brendname"></div> <!--Если до конца свободное место-->
    <div class="img"><img src="images/brands/no.png" border="0" alt="brendname"></div> <!--Если до конца свободное место-->
</div>

<div class="footer">
    <div class="left">
        <div class="text">© 2011 Интернет-проект <span>АвтоЗабота</span><br>Интернет-магазин в Москве</div>
    </div>
    <div class="right">
        <div class="text">
            <span>Магазин-шиномонтаж:</span> г. Москва ул. Римского-Корсакова вл. 19<br />
            <span>Сервис-шиномонтаж:</span> г. Москва ул. Отрадный проезд д. 4а<br />
            <span>Телефон:</span> 8 (495) 978-61-93, <span>Мобильный:</span> 8 (916) 91-21-999
        </div>
    </div>
</div>

<div class="empty"></div>

</body>
</html>


<p>Больше чем интернет магазин. </p>

<p>Наш магазин: Он-лайн подбор шин и дисков от лучших мировых
    производителей и поиск под заказ. &nbsp;Лучшие
    цены и специальные акции, а также возможность сразу со скидкой установить шины и
    диски на автомобиль в наших сервисах по выдаче и обслуживанию заказов.&nbsp; Профессиональный и качественный шиномонтаж
    выполненный на итальянском оборудовании высокого класса специалистами нашего
    сервиса залог уверенности и удовольствия за рулем . </p>

<p>Пока вашим автомобилем занимаются, вы можете выпить чашечку вареного
    кофе и поработать в интернете, везде доступен бесплатный WIFI</p>

<p>Большой ассортимент шин в наличии, а также опыт продаж
    установки &nbsp;и эксплуатации позволит найти
    желаемый вариант и не разочароваться в нем со временем, помните хорошие шины
    эксплуатируются 3 сезона и больше.&nbsp;</p>

